html {
  box-sizing: border-box;
  background: #333;
}

body {
  text-align: center;
  height: 100vh;
  font-family: "Roboto";
}

h3 {
  color: cornsilk;
  font-size: 6rem;
}

button {
  background-color: darkslategrey;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 15px;
}

.display {
  padding-top: 2rem;
  min-height: 60vh;
  font-size: 2rem;
  padding-left: 1.2rem;
  text-align: left;
  color: aliceblue;
}
.currency-list {
  background: red;
  display: flex;
  flex-wrap: wrap;
}
.currency-item {
  width: 100px;
  height: 100px;
  background: grey;
  border: 1px solid white;
  padding: 1.2rem;
}
